.item-page {
    display: flex;
    width: 100%;
    padding-top: 50px;
    // padding-left: 30px;
    padding-bottom: 30px;
    line-height: 30px;
    
    .item-image {
        width: 30%;
        object-fit: cover;
        margin-left: 30px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 30px;

        .title-container {
            display: flex;
            align-items: center;

            .drink-name {
                margin-right: 50px;
            }
        }

        .inner-content-container {
            display: flex;
            width: 100%;
            margin-top: 40px;

            .inner-left-content {
                width: 30%;

                .category-container {
                    padding-bottom: 60px;
                }

                .glass-type-container {
                    padding-bottom: 60px;
                }
            }

            .inner-right-content{
                padding-left: 30px;
            }
            
            .ingredients-content{
                display: flex;
                flex-wrap: wrap;
                padding: 0px 0px;

                .ingredient {
                    padding-right: 35px;
                    line-height: 30px;

                    .amounts {
                        font-style: italic;
                    }
                }
            }
        }

        .description-box {
            // padding-right: 20px;

            .description-content{
                padding-right: 20px;
            }
        }
    }
}

.item-title {
    color: rgb(114, 114, 114);
}

.btn { 
    background-color:rgba(24, 123, 189, 0.856);
    color: white;
    font-size: 13px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 12px 17px;
    text-align: center;
    cursor: pointer;
    height:40px;
    // transition: 0.8s;
 
}

.btn-has{
    background-color: rgba(29, 216, 191, 0.856)
}

// drinkItem.strDrinkThumb
// drinkItem.strDrink
// drinkItem.strCategory
// drinkItem.strGlass
// drinkItem.strInstructions
// drinkItem.strIngredient1
// drinkItem.strMeasure1
// drinkItem.strIngredient2
// drinkItem.strMeasure2
// drinkItem.strIngredient3