.item-page {

    display: flex;
    font-size: 11px;
    margin: 20px;
    line-height: 17px;
    align-items: center;

    &-img{
        height: 300px;
    }

    &-title {
        font-size: 23px;
        margin: 10px 50px;
    }

    &-content {
        padding-top: 20px;

        .box {
            margin: 30px 50px;
        }

        .c-g-i-container {
            display: flex;
            margin: 30px 50px;

            .category-glass-container{
                
                padding-right: 16px;
                width: 15vw;
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
        }
    }
}

.label{
    color: grey;
    font-size: 14px;
    margin: 5px 0px;
}

.label-ingredients {
    margin: 0px 50px;
}

.ingredients-container {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 50px;
}

.measurements {
    margin-right: 30px;
}

.amount {
    font-size: 10px;
}

.box-title {
    display: flex;
    align-items: center;

    .btn { 
        background-color:rgba(24, 123, 189, 0.856);
        color: white;
        font-size: 12px;
        border-radius: 2px;
        outline: none;
        border: none;
        padding: 8px 17px;
        text-align: center;
        cursor: pointer;
        transition: 0.8s;
        // width: 120px;
     
    }

    .btn:hover {
        opacity: 0.3;
    }

    .btn-has{
        background-color: rgba(29, 216, 191, 0.856)
    }

    .hidden {
        display: none;
    }

    .item-added {
      display: flex;
    }
}