@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

.filter-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;

    .title {
        margin-bottom: 40px;
    }
}
